@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/*     font-family: 'Jost', sans-serif;     */

/* display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    margin-bottom: 0 !important;
    overflow: hidden; */


:root {
    --color: #120f3e;
    --c2: #fb9d25;
    --white: #fff;
    --black: #171717;
    --light: rgb(223, 245, 253);
    --gray: rgb(188, 188, 188);
    --l2: #eee;
    --red: rgb(255, 38, 38);
}

html {
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;

}

* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    transition: all 0.4s linear;
}






























































